{% extends 'home-page.html' %}
{% block content %}
    {% if not plants %}
        <p class="no-articles">No plants yet</p>

    {% else %}
        {% for plant in plants %}
            <section id="catalogue">
                <div class="plant-card">
                    <div class="image-wrap">
                        <img src="{{ plant.image }}"
                             alt="{{ plant.type }}">
                    </div>
                    <h3>{{ plant.name }}</h3>
                    <h1>{{ plant.description }}</h1>
                    <div class="details-buttons">
                        <a href="{% url 'details-plant' pk=plant.id %}" class="details-btn">Details</a>
                    </div>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}