{% extends 'home-page.html' %}
{% block content %}
    <section id="plant-details">
        <h1>Plant Details</h1>
        <div class="info-section">
            <div class="plant-header">
                <img class="plant-img"
                     src="{{ plant.image }}"
                     alt='plant image'/>
                <h1>{{ plant.plant_type }}</h1>
                <p><span class="description-plant">{{ plant.name }}</span></p>
                <p><span class="description-plant">{{ plant.price }}</span></p>
                <p><span class="description-plant">{{ plant.description }}</span></p>
            </div>
            <div class="buttons">
                <a href="{% url 'edit-plant' pk=plant.id %}" class="edit-button">Edit</a>
                <a href="#" class="delete-button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}
